---

// IMPORT ASTRO LAYOUTS
import ContainerSmall from "@/layouts/container-small/index.astro"

// IMPORT ASTRO COMPONENTS
import CertificateCard from "@/components/home/adobe-certificates/card/index.astro"

// IMPORT ASTRO ATOMS
import HeadingTwo5XlBoldWhite from "@/atoms/atoms-shiva/headings/two/5xl/bold/center/white/index.astro"

// HARDCODED DATA
const data = {

    title: "We hire the best to grow you the most, in the least amount of time.",

}
const card_data = [

    {
        source: "/images/adobe.webp",
        title: "Adobe Commerce Developer",
    },
    {
        source: "/images/adobe.webp",
        title: "Adobe Commerce Business Practitioner",
    },
    {
        source: "/images/adobe.webp",
        title: "Adobe Commerce Architect",
    },
    {
        source: "/images/adobe.webp",
        title: "Adobe Commerce Front End Developer",
    },
    {
        source: "/images/adobe.webp",
        title: "Adobe Commerce Front End Developer",
    },
    {
        source: "/images/adobe.webp",
        title: "Adobe Commerce Front End Developer",
    },
    {
        source: "/images/adobe.webp",
        title: "Adobe Commerce Front End Developer",
    },

]

---

<section class="relative py-16 bg-dark-gray">
    <div class="absolute top-32 z-0 w-full h-80 opacity-35 rounded-[250px] blur-2xl" style="background: linear-gradient(90.03deg, #444FAE 4.16%, #2B98E7 29.61%, #57D68D 61.55%, #49CFE1 99.99%);"></div>
    <ContainerSmall>
        <div class="flex flex-col items-center gap-8">
            <div class="max-w-[800px] z-10">
                <HeadingTwo5XlBoldWhite>{ data.title }</HeadingTwo5XlBoldWhite>
            </div>
            <div class="flex flex-row flex-wrap justify-center gap-8 rounded-3xl bg-gray-900 bg-opacity-80 p-10 z-10">
                {

                    card_data.map( ( data ) => (

                        <CertificateCard
                            source={ data.source }
                            title={ data.title }
                        />

                    ))

                }
            </div>
        </div>
    </ContainerSmall>
</section>
